<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            My Site
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'post_list' %}">Posts</a></li>
            <li><a href="{% url 'sam' %}">sam</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>