*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #c0baba;
    color: #16b9a3;
    padding: 20px;
    place-content: center;
}

h1,p{
    margin-bottom: 20px;
    text-align: center;
}